<div class="note-content">
  <h3>{{model.id}}</h3>

  <p>{{model.content}}</p>
  {{textarea value=model.content }}
  {{#if model.hasDirtyAttributes}}<button{{action 'saveNote' on="click"}}>Save</button>{{/if}}
</div>
